<% include ../partials/header %>
        
    <!-- Display Ticket Upload Dialog -->
    
    <div class="jumbotron boxed">
        <h2 class="searchHeader">Bulk Upload Tickets</h2>
            <section class="boxDisplay divider">
                <p>Use the form below to upload a <strong>New Tickets</strong>.
                Click <a href="/upload/faultTemplate"><u>here</u></a> for an blank template.</p>
                    <form action="/upload/tickets" method="POST" encType="multipart/form-data">
                        <input type="file" name="file" accept="*.csv" /><br/><br/>
                        <button class="btn btn-lg buttonCenter">Upload</button>
                    </form>
            </section>
    </div>
        
<% include ../partials/footer %>