<% include partials/header %>
        
    <!-- Display Ticket Upload Dialog -->
    
    <div class="jumbotron boxed">
        <h2 class="searchHeader">Bulk Upload Tickets</h2>
            <section class="boxDisplay divider">
                <p>Use the form below to upload a New Tickets.
                Click <a href="/upload/template">here</a> for an blank template.</p>
                    <form action="/upload/new/faults" method="POST" encType="multipart/form-data">
                        <input type="file" name="file" accept="*.csv" /><br/><br/>
                        <button class="btn btn-lg btn-success centerButton">Upload</button>
                    </form>
            </section>
    </div>
        
<% include partials/footer %>