<% include partials/header %>

    <!-- Display New Job Box -->

    
    <section id="newJob" class="boxDialog">
        <section class="jobDetails">
            <a href="/" title="Close" class="close">X</a>
            <form action="/mprns/create" method="post">
                <div class="siteDetails">
                    <div class="divider">
                        <div class="form-group"><label for="mprn">MPRN</label> <input type="text" name="mprn" required /></div>
                        <div class="form-group"><label for="supplier">Supplier</label> <input type="text" name="supplier" required /></div>
                    </div>
                    <div class="divider">
                        <div class="form-group"><label for="siteName">Site Name</label> <input type="text" name="siteName" required /></div>
                            <div class="form-group"><label for="buildingNo">Building No</label> <input type="text" name="buildingNo" required /></div>
                            <div class="form-group"><label for="streetAddress">Street (Line 1)</label> <input type="text" name="streetAddress1" required /></div>
                            <div class="form-group"><label for="streetAddress2">Street (Line 2)</label><input type="text" name="streetAddress2" /></div>
                        </div>
                        <div class="divider">
                            <div class="form-group"><label for="town">Town/City</label><input type="text" name="townCity" required /></div>
                            <div class="form-group"><label for="postCode">Post Code</label><input type="text" name="postCode" required /></div>
                            <div class="form-group"><label for="siteContact">Site Contact</label><input type="text" name="siteContact" required /></div>
                            <div class="form-group"><label for="contactNo">Contact No.</label><input type="text" name="contactNo" required /></div>
                        </div> 
                    </div>
                    <hr>
                    <div class="assetDetails">
                        <div class="divider">
                        <div class="form-group"><label for="msn">Meter Serial No</label><input type="text" name="msn" required /></div>
                        <div class="form-group"><label for="meterModel">Meter Model</label><input type="text" name="meterModel" required /></div>
                        <div class="form-group"><label for="meterMake">Meter Make</label><input type="text" name="meterMake" required /></div>
                    </div>
                    <div class="divider">
                        <div class="form-group"><label for="meterType">Meter Type</label><input type="text" name="meterType" required /></div>
                        <div class="form-group"><label for="admSerial">ADM Serial</label><input type="text" name="admSerial" /></div>
                        <div class="form-group"><label for="admImei">ADM IMEI</label><input type="text" name="admImei" /></div>
                    </div>
                                            <div class="divider">
                            <button class="btn btn-lg btn-success buttonSize">Save</button>
                        </div>
                </div>
            </form>
        </section>
    </section>
    <% include partials/footer %>