<% include partials/header %>

    <section id="jobReports" class="boxDialog">
        <section class="reportingDetails">
            <a href="/" title="Close" class="close">X</a>
            <h2 class="boxTitle">Reporting</h2>
            <form action="/reports/query" method="POST">
                <div class="reportDetails">
                    <div class="divider">
                        <div class="form-group"><label for="mprNo">MPRN: </label><input type="text" name="mprNo" /></div>
                        <div class="form-group"><label for="faultRef">Fault Ref: </label><input type="text" name="faultRef" /></div>
                        <div class="form-group"><label for="supplier">Supplier: </label><input type="text" name="supplier" /></div>
                        <div class="form-group"><label for="jobStatus">Job Status: </label>
                            <select id="jobStatus" class="form-group" name="status">
                                <option hidden selected value> -- select an option -- </option>
                                <option value="Outstanding">Outstanding</option>
                                <option value="Completed">Completed</option>
                                <option value="Cancelled">Cancelled</option>
                            </select>
                        </div>
                    </div>
                    <div class="divider">
                        <div class="form-group"><label for="raisedBy">Raised By: </label><input type="text" name="raisedBy" /></div>
                        <div class="form-group"><label for="dateRaised">Date Raised: </label><input style="width: 56%;" type="date" name="dateRaised" /></div>
                        <div class="form-group"><label for="appDate">Appoint. Date: </label><input style="width: 56%;" type="date" name="appDate" /></div>
                        <div class="form-group"><label for="faultCat">Fault Category: </label>
                            <select id="faultCat" class="form-group" name="faultCat">
                                <option hidden selected value> -- select an option -- </option>
                                <option value="Signal">Signal</option>
                                <option value="Read/Escalate">Read/Escalate</option>
                                <option value="Read Required">Read Required</option>
                                <option value="Install">Install</option>
                                <option value="Removal">Removal</option>
                            </select>
                        </div>
                    </div>
                    <div class="divider">
                        <div class="form-group"><label for="siteName">Site Name: </label><input type="text" name="siteName" /></div>
                        <div class="form-group"><label for="postCode">Post Code: </label><input type="text" name="postCode" /></div>
                        <div class="form-group"><label for="streetAddress1">Address (1): </label><input type="text" name="streetAddress1" /></div>
                        <div class="form-group"><label for="streetAddress2">Address (2): </label><input type="text" name=streetAddress2 /></div>
                    </div>
                </div>
                <div class="pull-right-buttons">
                    <a class="btn btn-md btn-warning" href="/">Back</a>
                    <button id="saveButton"class="btn btn-md btn-success">Submit</button>
                </div>
            </form>
        </section>
    </section>









<% include partials/footer %>