<% include ../partials/header %>

</div>
    <div class="jumbotron boxed">    
        <h1>Forgotten Paswword?</h1>
        <form action="/forgottenPassword" method="POST">
            <hr>
            <div><i class="big mail icon"></i><input type="email" name="email" placeholder="Enter your email address"></div>
            <div>
                <a class="btn btn-danger btn-lg" href="#" onclick="history.back();return false">Back</a>
                <button class="btn btn-success btn-lg">Reset Password</button>
        </form>
    </div>
</div>

<% include ../partials/footer %>