<% include ../partials/header %>

<!-- Display Job Search Box -->

<div class="jumbotron boxed">
  <h2 class="searchHeader">Welcome</h2>
  <section class="boxDisplay divider">
    <form action="/search/" method="post">
      <div class="form-group">
        <label for="ticketRef">Job Ref </label>
        <input
          class="centerInputs"
          type="text"
          name="ticketRef"
          placeholder="Try {60003}"
        />
      </div>
      <div class="form-group">
        <label for="mprnRef">MPRN </label>
        <input
          class="centerInputs"
          type="text"
          name="mprnRef"
          placeholder="Try {910371561}"
        />
      </div>
      <div class="form-group">
        <label for="mprnRef">Post Code </label>
        <input
          class="centerInputs"
          type="text"
          name="postCode"
          placeholder="Try {PA61 7YW}"
        />
      </div>
      <div class="form-group">
        <label for="mprnRef">Address </label>
        <input
          class="centerInputs"
          type="text"
          name="address"
          placeholder="Try {Forestside Rd}"
        />
      </div>
      <button class="btn btn-lg buttonCenter">Search</button>
    </form>
  </section>
</div>

<% include ../partials/footer %>
